* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1568995430555-091fd9226ed3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80g");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

.jumbotron {
  margin-top: 22%;
  opacity: 0.8;

}

#banner {
  margin-left: 33%;
}

#pw {
  width: 40px;
  height: 40px;
  left: 90%;
}

footer {
  

footer a{
	font-size: 30px;
}
}

/*# sourceMappingURL=style.css.map */


















/*media queries*/



/*mobile styles*/
@media only screen and (max-width: 400px) {
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}
 
.jumbotron {
  width: 100%;
  margin: 50%;
  padding: 25px;
position: relative absolute;
}

}
/*tablet styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

}