* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1573361359705-e96459c0d9b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain cover ;



}

.jumbotron {
  margin-top: 22%;
 opacity: 0.1;
 width: 50%;

}

#banner {
  color: white;
  opacity:1;
}

#pw {
  width: 40px;
  height: 40px;
  left: 90%;
}

/*# sourceMappingURL=style.css.map */


















/*media queries*/



/*mobile styles*/
@media only screen and (max-width: 400px) {
body {
  background-image: url("https://images.unsplash.com/photo-1573361359705-e96459c0d9b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain cover;

  height: 100%;
  width: 100%;
}

 
.jumbotron {
    margin:0 auto; 
     width: 100%;
     position:relative;

}
#banner{
  margin-left: 0;

}
#bb{
  text-align: center;
}

/*tablet styles*/
/*@media only screen and (min-width: 401px) and (max-width: 960px) {

}*/

}